body {
	margin: 0px 0px 20px;
	padding: 0px;
	border: 0px currentColor;
	border-image: none;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
a {
	text-decoration: none;
}
a:link {
	color: rgb(54, 65, 77);
}
a:visited {
	color: rgb(54, 65, 77);
}
a:active {
	color: rgb(54, 65, 77);
}
a:hover {
	color: rgb(170, 131, 77);
}
h1 {
	margin: 0px 0px 5px;
	padding: 0px;
	font-weight: normal;
}
h2 {
	margin: 0px 0px 5px;
	padding: 0px;
	font-weight: normal;
}
h3 {
	margin: 0px 0px 5px;
	padding: 0px;
	font-weight: normal;
}
img {
}
#container {
	padding: 0px;
	width: 980px;
	text-align: left;
	line-height: 140%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: rgb(255, 255, 255);
}
#banner {
	padding: 15px;
	text-align: left;
	color: rgb(51, 51, 51);
	font-family: Georgia, Times, serif;
	display: none;
	background-color: rgb(255, 255, 255);
}
a#banner-img {
	background-position: center;
	width: 94%;
	height: 120px;
	margin-bottom: 25px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	background-image: url("http://www.kimuko.net/blog/img/gen_head.png");
	background-repeat: no-repeat;
}
.banner-alt {
	display: none;
}
#banner a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}
#banner h1 {
	font-size: x-large;
}
#banner h2 {
	font-size: small;
}
#center {
	width: 630px;
	overflow: hidden;
	margin-top: -10px;
	margin-right: 25px;
	margin-left: 25px;
	float: left;
}
.content {
	padding: 15px 15px 5px 8px;
	color: rgb(51, 51, 51);
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "¥á¥¤¥ê¥ª", Meiryo, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: small;
	background-color: rgb(255, 255, 255);
}
textarea#comment-text {
	width: 470px;
}
#right {
	width: 270px;
	overflow: hidden;
	float: left;
	background-color: rgb(255, 255, 255);
}
#left {
	width: 270px;
	overflow: hidden;
	float: left;
	background-color: rgb(255, 255, 255);
}
.content p {
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 170%;
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "¥á¥¤¥ê¥ª", Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
}
.content p a {
	color: rgb(51, 51, 51);
	text-decoration: underline;
}
.content p a:hover {
	color: rgb(184, 129, 37);
	font-size: 15px;
}
h3#archive-title {
	color: rgb(54, 65, 77);
	font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: medium;
	font-weight: bold;
}
.content blockquote {
	line-height: 200%;
}
.content li {
	line-height: 200%;
}
.content hc {
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: Georgia, "Times New Roman", serif;
	font-size: large;
	margin-bottom: 10px;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.content h2 {
	padding: 3px 3px 3px 0px;
	color: rgb(45, 45, 45);
	line-height: 1.5;
	font-family: "¥á¥¤¥ê¥ª", "Meiryo", "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "£Í£Ó ¥´¥·¥Ã¥¯", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
}

.content h3 {
	text-align: left;
	color: rgb(102, 102, 102);
	font-family: Georgia, "Times New Roman", serif;
	font-size: medium;
	margin-bottom: 10px;
}
.content p.posted {
	text-align: left;
	color: rgb(0, 0, 0);
	line-height: normal;
	clear: both;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	margin-bottom: 25px;
}
.sidebar {
	padding: 0px 0px 15px;
}

#right .sidebar .sssm {
	margin-left:auto;
	margin-right:auto;
}


#calendar {
	padding: 2px;
	text-align: center;
	color: rgb(51, 51, 51);
	line-height: 140%;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	margin-bottom: 30px;
}
#calendar table {
	padding: 2px;
	border: 0px currentColor;
	border-image: none;
	width: 100%;
	border-collapse: collapse;
}
#calendar caption {
	text-align: left;
	color: rgb(51, 102, 0);
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-family: Georgia, "Times New Roman", serif;
	font-size: small;
}
#calendar th {
	text-align: center;
	font-weight: normal;
}
#calendar td {
	text-align: center;
}
.sidebar h2 {
	width: 260px;
	color: #FFF;
	letter-spacing: 0.1em;
	padding-left: 10px;
	font-family: "¥á¥¤¥ê¥ª", "Meiryo", "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "£Í£Ó ¥´¥·¥Ã¥¯", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	background-color:#BDA468;
}
.sidebar h3 {
	padding: 5px;
	width: 166px;
	color: rgb(54, 65, 77);
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-size: small;
	font-weight: bold;
	border-bottom-color: rgb(54, 65, 77);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.sidebar h2 a {
	color: rgb(255, 255, 255);
}
.sidebar h2 a:hover {
	color: rgb(255, 255, 255);
}
.sidebar ul {
	margin: 0px 0px 30px;
	padding-left: 0px;
}
.sidebar li {
	margin: 7px 0px 0px 1em;
	padding: 0px;
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 150%;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	list-style-type: none;
}
.sidebar img {
	border: 0px solid rgb(51, 51, 51);
	border-image: none;
}
.photo {
	text-align: right;
	margin-bottom: 20px;
}
.link-note {
	padding: 2px;
	text-align: left;
	line-height: 150%;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	margin-bottom: 15px;
	background-color: rgb(255, 255, 255);
}
.sss {
	padding: 5px;
	font-size: small;
	background-color: rgb(255,255,255);
}
.sssm {
	width: 190px;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
.sssm img {
	border-top-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-bottom-style: solid;
}
#powered {
	text-align: left;
	color: rgb(51, 51, 51);
	line-height: 150%;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	margin-top: 50px;
}
#comment-data {
	width: 180px;
	text-align: left;
	padding-right: 15px;
	margin-right: 15px;
	border-right-color: rgb(187, 187, 187);
	border-right-width: 1px;
	border-right-style: dotted;
	float: left;
}
textarea {
	font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯", "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Osaka", "£Í£Ó £ÐÌÀÄ«", "¥Ò¥é¥®¥ÎÌÀÄ« Pro W3", verdana, arial, sans-serif;
}
textarea[id='comment-text'] {
	width: 80%;
}
.image-full {
	width: 470px;
}
.image-thumbnail {
	width: 130px;
	margin-bottom: 10px;
	float: left;
}
.image-thumbnail img {
	width: 115px;
	height: 115px;
}
span {
	line-height: 150%;
}
.gre-whit {
	color: rgb(255, 255, 255);
	background-color: rgb(204, 204, 204);
}
.gre-red {
	color: rgb(153, 0, 0);
	background-color: rgb(204, 204, 204);
}
.gre-yelow {
	color: rgb(255, 255, 0);
	background-color: rgb(204, 204, 204);
}
.orange {
	color: rgb(255, 153, 0);
	font-weight: 600;
}
.whit-red {
	color: rgb(51, 51, 51);
}
.whit-yelow {
	color: rgb(255, 255, 0);
}
.point {
	padding: 5pt 0pt;
}
#footer {
	width: 980px;
	text-align: center;
	color: rgb(51, 51, 51);
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 0px;
	clear: both;
	font-size: small;
	vertical-align: bottom;
	border-bottom-color: #BDA468;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	background-color: rgb(255,255,255);
}
#container #center .content h7 {
	text-align: right;
}
#container #left {
	font-family: Þâ¥´¥·¥Ã¥¯ÂÎ, "Yu Gothic", YuGothic, "¥Ò¥é¥®¥Î³Ñ¥´¥·¥Ã¥¯ Pro", "Hiragino Kaku Gothic Pro", ¥á¥¤¥ê¥ª, Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: 12px;
	background-color: rgb(255,255,255);
}
#seisinkai img {
	border: 1px solid rgb(204, 204, 204);
	border-image: none;
}
#staff img {
	border: 1px solid rgb(204, 204, 204);
	border-image: none;
}
#container .sidebar h2 {
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "¥á¥¤¥ê¥ª", Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
}
