body { margin: 0px 0px 20px 0px; border: 0; padding: 0; background-color: #fff; text-align: center; } 
a { text-decoration: none; }
 a:link { color: #36414d; }
 a:visited { color: #36414d; }
 a:active { color: #36414d; }
 a:hover {
	color: #AA834D;
/*	font-size: small;*/
}
 h1, h2, h3 { margin: 0px 0px 5px 0px; padding: 0px; font-weight: normal; }
 
img {
 border-style: none;
}

#container
 {
	line-height: 140%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 1160px;
	background-color: #FFF;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
 } 

#banner
 {
display: none;  
font-family: Georgia, Times, serif; 
color: #333333; 
background-color: #FFFFFF; 
text-align: left; 
padding: 15px; 
}

a#banner-img {
	display: block;
	background-image: url("http://www.kimuko.net/blog/img/gen_head.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 25px;
	height: 120px;
	border-right-width: 8px;
	border-left-width: 8px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	width: 99.3%;
}
.banner-alt {
display: none;
}
 #banner a { color: #333333; text-decoration: none; }
 #banner h1 { font-size: x-large; }
 #banner h2 { font-size: small; }
 #center {
	float: left;
	width: 570px;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -10px;
}
 .content { padding: 15px 15px 5px 8px; 
background-color: #fff; 
color: #333333; 
/*font-family: Georgia, 'Times New Roman', serif; */
font-family: '¥Ò¥é¥®¥Î³Ñ¥´ Pro W3','Hiragino Kaku Gothic Pro','¥á¥¤¥ê¥ª',Meiryo,'£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: small; } 

textarea#comment-text { width: 470px; }

/**************±¦¥Ü¥Ã¥¯¥¹*****************/
#right 
{
	float: left;
	/*margin-left:30px;*/
	width: 270px;
	background-color: #FFF;
	overflow: hidden;
 }



/**************º¸¥Ü¥Ã¥¯¥¹*****************/
#left 
{
	float: left;
	/*margin-left:30px;*/
	width: 270px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 5px;
/*	border-right: 1px #666666 solid;
*/ }

 .content p {
	color: #333333;
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Hiragino Kaku Gothic Pro", "¥á¥¤¥ê¥ª", Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: medium;
	font-weight: normal;
	line-height: 160%;
	text-align: left;
	margin-bottom: 10px;
}

 .content p a { 
color: #333333; 
text-decoration: underline;
font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
 }

 .content p a:hover {
	color: #333333;
	font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯', 'MS PGothic', sans-serif;
	font-size: medium;
 }

h3#archive-title { 
color: #36414d; 
font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: medium; 
font-weight: bold; 
 }

 .content blockquote { line-height: 200%; }
 .content li { line-height: 200%; }

 .content hc 
	{
color: #fff; 
font-family: Georgia, 'Times New Roman', serif; 
font-size: large; 
border-bottom: 1px solid #fff; 
text-align: left; 
margin-bottom: 10px; p
adding: 3px; }

 .content h2 {
	font-size: 26px;
	font-family: "¥á¥¤¥ê¥ª","Meiryo","¥Ò¥é¥®¥Î³Ñ¥´ Pro W3","Hiragino Kaku Gothic Pro","£Í£Ó ¥´¥·¥Ã¥¯", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height:1.5;
	padding: 3px 3px 3px 10px;
	color: #282828;
	border-left: 6px #5B4137 solid;
	border-bottom: 1px #664e2b dashed;
/*	text-shadow: #ddd 1px 1px 2px;
*/}

 .content h3 { color: #666666; font-family: Georgia, 'Times New Roman', serif; font-size: medium; text-align: left; margin-bottom: 10px; }
 .content p.posted { clear: both; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: x-small; text-align: left; margin-bottom: 25px; line-height: normal; clear: both; }

 .sidebar 
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;

}
 #calendar { line-height: 140%; color: #333333; font-family: Verdana, Arial, sans-serif; font-size: x-small; padding: 2px; text-align: center; margin-bottom: 30px; }
 #calendar table { padding: 2px; border-collapse: collapse; border: 0px; width: 100%; } 
#calendar caption { color: #336600; font-family: Georgia, 'Times New Roman', serif; font-size: small; text-align: left; text-transform: uppercase; letter-spacing: .3em; }
 #calendar th { text-align: center; font-weight: normal; }
 #calendar td { text-align: center; }

 .sidebar h2 
{
	color: #fff;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: small;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding-left: 10px;
	background-color: #BDA468;
	font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
	width: 260px;
} 

 .sidebar h3
{
	color: #36414d;
	font-size: small;
	font-weight: bold;
	/*border-right: 1px solid #36414d;*/
border-bottom: 1px solid #36414d;
	/*letter-spacing: .1em; 
    background: #3283bd;*/
padding: 5px;
	font-family:'¥Ò¥é¥®¥Î³Ñ¥´ Pro W3','Hiragino Kaku Gothic Pro','trebuchet ms', verdana, helvetica, arial, sans-serif;
	width: 166px;
/*font-family: 'MS PMincho',serif;*/

} 

 .sidebar h2 a { color: #fff; }
 .sidebar h2 a:hover { color: #fff; }

.sidebar ul { padding-left: 0px; margin: 0px; margin-bottom: 30px; }
 .sidebar li {
	color: #333333;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
	line-height: 150%;
	list-style-type: none;
	padding: 0px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1em;
}
 
 
.sidebar img { border: 0px solid #333333; } 
.photo { text-align: right; margin-bottom: 20px; } 

.link-note { 
font-family: Verdana, Arial, sans-serif; 
font-size: x-small; line-height: 150%; 
text-align: left; 
padding: 2px; 
margin-bottom: 15px; 
background-color:#fff; 
}

.sss{
	background-color: #F6F6F6;
	font-size: small;
	padding: 5px;
}

.sssm{
	background-color:#fff;
	text-align: center;
	width: 190px;
}

.sssm img{
border-top: #fff solid 5px;
border-bottom: #fff solid 5px;
}



 #powered { font-family: Verdana, Arial, sans-serif; font-size: x-small; line-height: 150%; text-align: left; color: #333333; margin-top: 50px; } 
#comment-data { float: left; width: 180px; padding-right: 15px; margin-right: 15px; text-align: left; border-right: 1px dotted #BBB; }
 textarea { font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯", "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Osaka", "£Í£Ó £ÐÌÀÄ«", "¥Ò¥é¥®¥ÎÌÀÄ« Pro W3", verdana, arial, sans-serif; } 
textarea[id="comment-text"] { width: 80%; } 
.image-full { width: 470px; }
 .image-thumbnail { float: left; width: 130px; margin-bottom: 10px; }
 .image-thumbnail img { width: 115px; height: 115px; } 
span{ line-height: 150%; } 

/**********¿§¤Î»ØÄê**********/
.gre-whit{background-color:#cccccc ; color:#fff;}
.gre-red{background-color:#cccccc ; color:#990000;}
.gre-yelow{background-color:#cccccc ; color:#ffff00;}
.orange{color:#FF9900;font-weight:600;}

/***¿å¿§***/
.whit-red{
	color:#333;
}


.whit-yelow{color:#ffff00;}

/****¥¿¥¤¥È¥ë*****************************************/
.point{padding:5pt 7pt;}


#footer {
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 0px;
	padding-top: 20px;
	clear: both;
	width: 100%;
	color: #333333;
	font-size: small;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #be9d6a;
	background-color: #dae0e6;
	}
#container #center .content h7 {
	text-align: right;
}
#container #left {
	font-family: Þâ¥´¥·¥Ã¥¯ÂÎ, "Yu Gothic", YuGothic, "¥Ò¥é¥®¥Î³Ñ¥´¥·¥Ã¥¯ Pro", "Hiragino Kaku Gothic Pro", ¥á¥¤¥ê¥ª, Meiryo, Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height:1.0em;
	background-color: #F6F6F6;
}

#seisinkai img {
	border: 1px solid #ccc;
}

#staff img {
	border: 1px solid #ccc;
}

/*#staff img {
	border: 3px solid #846A1C;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}*/
