@charset 'utf-8';

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    background: #CCC;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#zoom_outer,
#paper_outer {
    position: absolute;
}
#paper_outer { z-index: 0; }
#zoom_outer { z-index: 1; }

#zoom_frame,
#paper_frame {
    position: relative;
    padding-top: 0px;
}
#zoom_frame .page,
#paper_frame .page {
    position: absolute;
}
#zoom_frame .page img,
#paper_frame .page img {
    position: absolute;
    z-index: 0;
}

#zoom_frame .link_rect,
#paper_frame .link_rect {
    position: absolute;
    display: block;
    filter: alpha(opacity=25);
    -moz-opacity:0.25;
    opacity:0.25;
    background-color: #F00;
    border: 1px solid #00F;
}

.ui-icon-loading{
    background:url(../images/ajax-loader.gif);
}

#menu {
    z-index: 3;
}

#menu_trigger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/menu.png);
    background-color: rgba(255,255,255,0.5);
}

#pagenum {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 24px;
}
#pagenum .cp,
#pagenum .tp {
}

#vindex .thumb_wrapper {
    float: left;
    margin: 0 10px 10px 0;
}
#vindex .thumb_wrapper a {
    display: block;
    overflow: hidden;
}
