body {
	margin:0;
	padding:0;
}

table {
	font-size: 14px;
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, Osaka, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
	background-color: #FFF;
}

.ondes {color: #999;}