<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><MT_TRANS phrase="Search Results"></title>
<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />
</head>

<body>

<div id="container">

<div id="banner">
<h1><a href="<$MTBlogURL$>" accesskey="1"><$MTBlogName$></a></h1>
<h2><$MTBlogDescription$></h2>
</div>

<div class="content">

<form method="post" action="<$MTCGIPath$><$MTSearchScript$>">

<h3><MT_TRANS phrase="Search this site:"></h3>

<p><input type="text" size="30" name="search" value="<$MTSearchString$>" /> <input type="submit" value="<MT_TRANS phrase="Search">" /></p>

<p><input type="checkbox" name="CaseSearch" /> <MT_TRANS phrase="Match case"> <input type="checkbox" name="RegexSearch" /> <MT_TRANS phrase="Regex search"></p>

</form>

<MTSearchResults>

<MTBlogResultHeader>
<h2><MT_TRANS phrase="Search Results from [_1]" params="&lt;$MTBlogName$&gt;"></h2>
</MTBlogResultHeader>

<h3><a href="<$MTEntryPermalink$>"><$MTEntryTitle$></a></h3>
<p><$MTEntryExcerpt$> <$MTEntryEditLink$></p>
<p class="posted"><MT_TRANS phrase="Posted in "><$MTBlogName$><MT_TRANS phrase=" on "><$MTEntryDate$></p>

</MTSearchResults>

<MTNoSearchResults>
<h2><MT_TRANS phrase="Searched for '[_1]'" params="&lt;$MTSearchString$&gt;"></h2>

<p><MT_TRANS phrase="No pages were found containing '[_1]'." params="&lt;$MTSearchString$&gt;"></p>
</MTNoSearchResults>

<MTNoSearch>
<h2><MT_TRANS phrase="Instructions"></h2>

<p><MT_TRANS phrase="By default, this search engine looks for all words in any order. To search for an exact phrase, enclose the phrase in quotes:"></p>

<blockquote><pre>"movable type"</pre></blockquote>

<p><MT_TRANS phrase="The search engine also supports AND, OR, and NOT keywords to specify boolean expressions:"></p>

<blockquote><pre><MT_TRANS phrase="personal OR publishing"></pre></blockquote>

<blockquote><pre><MT_TRANS phrase="publishing NOT personal"></pre></blockquote>
</MTNoSearch>

</div>
</div>

</body>
</html>
