<TMPL_INCLUDE NAME="header-popup.tmpl">

<p><MT_TRANS phrase="An error occurred:"></p>

<h4 class="error-message"><TMPL_VAR NAME=ERROR></h4>

<div align="center">
<input type="button" onclick="window.close()" value="<MT_TRANS phrase="Close">" />
<input type="button" onclick="history.back()" value="<MT_TRANS phrase="Go Back">" />
</div>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
