/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin:40px auto 0 auto;
}
.va-wrapper{
	width:698px;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
	border: 1px solid #666;
	margin: auto;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
	overflow:auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
.va-slice-1{
	background:#000 url(../images/1.jpg) no-repeat center center;
}
.va-slice-2{
	background:#000 url(../images/2.jpg) no-repeat center center;
}
.va-slice-3{
	background:#000 url(../images/3.jpg) no-repeat center center;
}
.va-slice-4{
	background:#000 url(../images/4.jpg) no-repeat center center;
}
.va-slice-5{
	background:#000 url(../images/5.jpg) no-repeat center center;
}
.va-slice-6{
	background:#000 url(../images/6.jpg) no-repeat center center;
}
.va-slice-7{
	background:#000 url(../images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
	background-color:#fff;
}
.va-slice-color-2{
	background-color:#fff;
}
.va-slice-color-3{
	background-color:#fff;
}
.va-slice-color-4{
	background-color:#fff;
}
.va-slice-color-5{
	background-color:#fff;
}
.va-slice-color-6{
	background-color:#fff;
}
.va-slice-color-7{
	background-color:#fff;
}
.va-title{
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
	font-size:36px;
	margin-left:20px;
	color:#666;
	text-shadow: 0px 0px 1px white;
}
.va-content{
	display:none;
	margin-left:25px;
}
.va-slice p{
	font-size: 22px;
	font-style: italic;
	font-family:Georgia, serif;
}
.va-slice ul{
/*	margin-top:20px;*/
}
.va-slice ul li{
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	color:#000;
/*	background:#eede2f;
	padding:3px 6px;*/
	font-size:14px;
	font-family:'PT Sans', sans-serif;
	text-transform:uppercase;
}
.va-slice ul li a:hover{
/*	background:#000;*/
	color:#fff;
	text-shadow:none;
}
.va-nav span{
	width:40px;
	height:25px;
	background:transparent url(../images/prev.png) no-repeat center center;
	position:absolute;
	top:-35px;
	left:50%;
	margin-left:-20px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	display:none;
	z-index:100;
}
.va-nav span.va-nav-next{
	background-image:url(../images/next.png);
	top:auto;
	bottom:-35px;
}
.va-nav span:hover{
	opacity:1.0;
}

