body { margin: 0px 0px 20px 0px; border: 0; padding: 0; background-color: #fff; text-align: center; } 
a { text-decoration: underline; }
 a:link { color: #003366; }
 a:visited { color: #003366; }
 a:active { color: #003366; }
 a:hover { color: #003366; }
 h1, h2, h3 { margin: 0px 0px 5px 0px; padding: 0px; font-weight: normal; }

#container
 { 
line-height: 140%; 
margin-right: auto; 
margin-left: auto; 
text-align: left; 
padding: 0px; 
width: 700px; 
background-color: #fff;
 } 

#banner
 {
display: none;  
font-family: Georgia, Times, serif; 
color: #333333; 
background-color: #FFFFFF; 
text-align: left; 
padding: 15px; 
}

a#banner-img { display: block;
background-image: url("http://www.kimuko.net/blog/img/genba_head.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 25px;
               height: 80px;}
.banner-alt {
display: none;
}
 #banner a { color: #333333; text-decoration: none; }
 #banner h1 { font-size: x-large; }
 #banner h2 { font-size: small; }
 #center { float: left; width: 500px; overflow: hidden; }
 .content { padding: 15px 15px 5px 15px; 
background-color: #fff; 
color: #333333; 
/*font-family: Georgia, 'Times New Roman', serif; */
font-family: '¥Ò¥é¥®¥Î³Ñ¥´ Pro W3','Hiragino Kaku Gothic Pro','¥á¥¤¥ê¥ª',Meiryo,'£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: small; } 

textarea#comment-text { width: 470px; }

#right 
{ 
float: left; 
/*margin-left:30px;*/
width: 200px; 
background-color: #e6ecf2; 
overflow: hidden;
 }


 .content p { color: #333333; 
font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: small; 
font-weight: normal; 
line-height: 200%; 
text-align: left; 
margin-bottom: 10px; }

 .content p a { 
color: #36414d; 
font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: medium; 
font-weight: bold; 
 }

h3#archive-title { 
color: #36414d; 
font-family: '£Í£Ó £Ð¥´¥·¥Ã¥¯','MS PGothic',sans-serif;
font-size: medium; 
font-weight: bold; 
 }

 .content blockquote { line-height: 200%; }
 .content li { line-height: 200%; }

 .content hc 
	{
color: #fff; 
font-family: Georgia, 'Times New Roman', serif; 
font-size: large; 
border-bottom: 1px solid #fff; 
text-align: left; 
margin-bottom: 10px; p
adding: 3px; }

 .content h2 {
    margin-top: 0;
    border-left: 7px solid #36414d;
/*    border-right: 3px solid #dae0e6;*/
    padding: 10px 0px 10px 10px;
    color: #3283bd;
    font-size: 22px;
    font-weight:bold;
    font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

 .content h3 { color: #666666; font-family: Georgia, 'Times New Roman', serif; font-size: medium; text-align: left; margin-bottom: 10px; }
 .content p.posted { clear: both; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: x-small; text-align: left; margin-bottom: 25px; line-height: normal; clear: both; }
 .sidebar { padding: 15px; }
 #calendar { line-height: 140%; color: #333333; font-family: Verdana, Arial, sans-serif; font-size: x-small; padding: 2px; text-align: center; margin-bottom: 30px; }
 #calendar table { padding: 2px; border-collapse: collapse; border: 0px; width: 100%; } 
#calendar caption { color: #336600; font-family: Georgia, 'Times New Roman', serif; font-size: small; text-align: left; text-transform: uppercase; letter-spacing: .3em; }
 #calendar th { text-align: center; font-weight: normal; }
 #calendar td { text-align: center; }

 .sidebar h2 
{ 
color: #fff; 
font-family: Georgia, 'Times New Roman', serif; font-size: small; 
font-weight: bold;
letter-spacing: .1em; 
padding-left: 10px;
    background: #36414d;
    font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
} 

 .sidebar h2 a { color: #fff; }
 .sidebar h2 a:hover { color: #fff; }

.sidebar ul { padding-left: 0px; margin: 0px; margin-bottom: 30px; }
 .sidebar li { color: #333333; font-family: Verdana, Arial, sans-serif; font-size: x-small; text-align: left; line-height: 150%; margin-top: 10px; list-style-type: none; }
 .sidebar img { border: 0px solid #333333; } 
.photo { text-align: right; margin-bottom: 20px; } 

.link-note { 
font-family: Verdana, Arial, sans-serif; 
font-size: x-small; line-height: 150%; 
text-align: left; 
padding: 2px; 
margin-bottom: 15px; 
background-color:#dae0e6; 
}

.sss{
background-color:#dae0e6; 
font-size: small;
padding: 5px;

}

.sssm{
background-color:#dae0e6; 
text-align: center;
}

.sssm img{
border-top: #dae0e6 solid 5px;
}



 #powered { font-family: Verdana, Arial, sans-serif; font-size: x-small; line-height: 150%; text-align: left; color: #333333; margin-top: 50px; } 
#comment-data { float: left; width: 180px; padding-right: 15px; margin-right: 15px; text-align: left; border-right: 1px dotted #BBB; }
 textarea { font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯", "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", "Osaka", "£Í£Ó £ÐÌÀÄ«", "¥Ò¥é¥®¥ÎÌÀÄ« Pro W3", verdana, arial, sans-serif; } 
textarea[id="comment-text"] { width: 80%; } 
.image-full { width: 470px; }
 .image-thumbnail { float: left; width: 130px; margin-bottom: 10px; }
 .image-thumbnail img { width: 115px; height: 115px; } 
span{ line-height: 150%; } 

/**********¿§¤Î»ØÄê**********/
.gre-whit{background-color:#cccccc ; color:#fff;}
.gre-red{background-color:#cccccc ; color:#990000;}
.gre-yelow{background-color:#cccccc ; color:#ffff00;}
.orange{color:#FF9900;font-weight:600;}

/***¿å¿§***/
.whit-red{color:#3283bd;}


.whit-yelow{color:#ffff00;}

/****¥¿¥¤¥È¥ë*****************************************/
.point{padding:5pt 7pt;}


