.css5 { font-size: 14px; line-height: 18px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: lighter; 
color: #000000; 
text-decoration: none}
.css4 { font-size: 12px; line-height: 14px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: bold; 
text-decoration: none}
.css31{ font-size: 12px; line-height: 20px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: bold; 
color: #000000; 
text-decoration: none}
.css3 { font-size: 10px; line-height: 12px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: normal; 
color: #0000FF; 
text-decoration: underline}
.css21{ font-size: 12px; line-height: 20px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: normal; 
text-decoration: none}
.css2 { font-size: 9px; line-height: 11px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: bold; 
color: #000000; 
text-decoration: none}
.css1 { font-size: 8.5px; line-height: 9px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: normal; 
color: #000000; 
text-decoration: none}
.main {  font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-size: 9px; 
font-style: normal; 
line-height: 11px; 
font-weight: lighter; 
font-variant: normal; 
color: #000000; 
text-decoration: none}
.css1red { font-size: 8.5px; line-height: 9px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: normal; 
color: #FF0000; 
text-decoration: none}
.css32 { font-size: 11.5px; line-height: 13px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: bold; color: #000000 ; 
text-decoration: none}
.css1ss { font-size: 6.5px; line-height: 7.5px; 
font-family: "‚l‚r ‚oƒSƒVƒbƒN", "Osaka"; 
font-style: normal; 
font-weight: normal; 
color: #000000; 
text-decoration: none }

